body{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin: 0;
    background-color: rgb(252, 253, 253);
}
h1{
    font-size: 3rem;
    margin-top: 2rem;
}
@keyframes roll{
    0%{
        transform:
        rotateY(0deg) rotateX(0deg);
    }
    100%{
        transform:
        rotateY(720deg) rotateX(720deg);
    }
}
.dice{
    font-size: 7rem;
    margin: 5px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    color: rgb(1, 35, 77);
    
}

.roll-animation{
    animation-name: roll;
}

.btn{
    background-color: rgb(0, 135, 219);
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0,.3);
    transition: background-color .3ms ease;
}
.btn:hover{
    background-color:rgb(1, 115, 186) ;
}
.roll-history{
    list-style: none;
    padding: 0;
    margin: 2rem auto;
    max-width: 600px;
}
li{
font-size: 1.5rem;
background-color: rgba(233, 233, 233, 0.991);
margin: 7px auto;
padding: 10px 10px;
border-radius: 5px;
box-shadow: 0 2px 2px rgba(0,0,0, .3);
display: flex;
justify-content: space-between;
align-items: center;

}
li span{
    font-size: 3rem;
    margin-right: 1rem;
}